name: buyeasy_retailer_scanner
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  flutter_dotenv: ^6.0.0
  google_mlkit_text_recognition: ^0.15.0
  http: ^1.6.0
  image_picker: ^1.2.1
  camera: ^0.10.5+9
  google_mlkit_barcode_scanning: ^0.14.1
  provider: ^6.1.5+1
  shared_preferences: ^2.5.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - .env
